.inputs {
  display: flex;
  align-items: center;
}

.controls-input {
  width: 50%;
  background: none;
  height: 4rem;
  border: none;
  font-size: 1.3rem;
  border-radius: 1rem;
  font-weight: 500;
  box-shadow: inset 0.2rem 0.2rem 0.5rem #9baacf,
    inset -0.2rem -0.2rem 0.5rem white;
  color: black;
  padding-left: 1rem;
  margin-right: 10px; /* Applies margin-right to all .controls-input elements except the last one */

  /* Remove spin buttons */
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.controls-input::-webkit-outer-spin-button,
.controls-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-set-time {
  margin-top: 1rem;
  cursor: pointer;
  color: black;
  background-color: #e52020;
  width: 100%;
  height: 4rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  box-shadow: 0.3rem 0.3rem 0.6rem #9baacf;
  font-size: 1.6rem;
  font-weight: 550;
  border: none; /* Ensure no border on the button */
}

.btn-set-time:active {
  box-shadow: inset -0.3rem -0.3rem 0.6rem rgba(0, 0, 0, 0.4),
    inset 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
}
